@charset "UTF-8";

.u-text-center {
	text-align: center
}

.u-mt-sml {
	margin-top: 2rem
}

.u-mt-mid {
	margin-top: 4rem
}

.u-mb-sml {
	margin-bottom: 2rem
}

.u-mb-mid {
	margin-bottom: 4rem
}

@keyframes slideInUp {
	0% {
		opacity: 0;
		transform: translateY(100vh)
	}

	100% {
		opacity: 1;
		transform: translateY(0)
	}
}

html {
	font-size: 62.5%
}

@media only screen and (max-width:56.25em) {
	html {
		font-size: 56.25%
	}
}

body {
	box-sizing: border-box;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.4;
	font-family: Poppins, sans-serif;
	color: #6c757d
}

@media only screen and (min-width:112.5em) {
	body {
		padding: 0 12rem;
		margin: 0 auto;
		border: 4px solid #343a40
	}
}

*,
::after,
::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit
}

::selection {
	color: #fff;
	background: #d63384
}

.logo {
	width: 12rem;
	height: 6rem
}

.logo--white {
	fill: #fff
}

.menu {
	width: 3.6rem;
	height: 3.6rem;
	background-color: #4046b3;
	fill: #fff;
	border-radius: 4px;
	cursor: pointer;
	display: block
}

.icon {
	width: 2.4rem;
	height: 2.4rem
}

.heading-1,
.heading-2,
.heading-3 {
	font-family: Poppins, sans-serif;
	color: #212529;
	line-height: 1
}

.heading-1 {
	font-size: 3.6rem;
	font-weight: 800
}

.heading-1--white {
	color: #fff
}

.heading-2 {
	font-size: 2.8rem;
	font-weight: 700
}

.heading-2--white {
	color: #fff
}

.heading-3 {
	font-size: 2rem;
	font-weight: 600
}

.heading-3--white {
	color: #fff
}

.paragraph {
	font-size: 1.4rem
}

.paragraph--white {
	color: #fff
}

.paragraph-2 {
	font-size: 1.8rem;
	font-weight: 300
}

.paragraph-2--white {
	color: #fff
}

.tip {
	display: block;
	font-size: 1.4rem;
	font-weight: 300;
	color: #343a40;
	text-transform: uppercase;
	margin-top: 1rem
}

.btn {
	border: 0;
	border-radius: 10rem;
	padding: 1.5rem 4rem;
	text-transform: uppercase;
	font-size: 1.4rem;
	text-decoration: none;
	font-family: Poppins, sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
	display: inline-block;
	transition: all .4s;
	box-shadow: 0 1rem 2rem rgba(33, 37, 41, .4)
}

.btn:link,
.btn:visited {
	border-radius: 10rem;
	padding: 1.5rem 4rem;
	text-transform: uppercase;
	font-size: 1.4rem;
	text-decoration: none;
	font-family: Poppins, sans-serif;
	font-weight: 700;
	letter-spacing: 1px;
	display: inline-block
}

.btn:hover {
	transform: translateY(-4px);
	box-shadow: 0 1rem 4rem rgba(33, 37, 41, .4)
}

.btn:active {
	transform: translateY(2px);
	box-shadow: 0 1rem 2rem rgba(33, 37, 41, .4)
}

.btn--main {
	color: #fff;
	background-image: linear-gradient(135deg, #e23c8e 0, #a33188 80%);
	box-shadow: 0 1rem 2rem rgba(33, 37, 41, .4)
}

.btn--main:hover {
	background-image: linear-gradient(-135deg, #e23c8e 0, #a33188 80%)
}

.btn--purple {
	border: 2px solid #a33188;
	color: #a33188;
	background-color: #fff
}

.btn--purple:hover {
	border: 2px solid #a33188;
	color: #fff;
	background-color: #a33188
}

.btn--white {
	border: 2px solid #fff;
	color: #fff;
	background-color: #171940
}

.btn--white:hover {
	border: 2px solid #fff;
	color: #171940;
	background-color: #fff
}

.text-btn:link,
.text-btn:visited {
	text-decoration: none;
	font-weight: 600;
	text-transform: uppercase;
	font-size: inherit
}

.text-btn:hover {
	text-decoration: underline
}

.text-btn--main {
	color: #4046b3
}

.text-btn--purple {
	color: #a33188
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 8rem;
	background-color: #f7f8f9;
	position: sticky;
	z-index: 3;
	top: 0
}

@media only screen and (max-width:37.5em) {
	.nav {
		padding: 0 4rem
	}
}

.nav__logo {
	fill: #212529
}

.nav__nav-list {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 2.4rem
}

@media only screen and (max-width:75em) {
	.nav__nav-list {
		gap: 3.6rem
	}
}

.nav__nav-link:link,
.nav__nav-link:visited {
	font-family: Poppins, sans-serif;
	font-weight: 600;
	text-decoration: none;
	color: #343a40;
	display: inline-block;
	padding: 1.5rem 1rem
}

.nav__nav-link:hover {
	color: #4046b3
}

.nav__nav-link--active {
	color: #4046b3 !important
}

.nav__nav-search-icon {
	fill: #343a40;
	cursor: pointer
}

@media only screen and (max-width:56.25em) {
	.nav .desktop {
		display: none
	}
}

.nav .mobile {
	display: none
}

@media only screen and (max-width:56.25em) {
	.nav .mobile {
		display: block
	}
}

.footer {
	background-color: #171940;
	padding: 2rem 4rem
}

@media only screen and (max-width:37.5em) {
	.footer {
		padding: 4rem
	}
}

.footer .top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 4rem;
	padding: 2rem;
	padding-bottom: 4rem;
	border-bottom: 1px solid rgba(255, 255, 255, .2)
}

@media only screen and (max-width:75em) {
	.footer .top {
		justify-content: flex;
		flex-wrap: wrap
	}
}

.footer .top .about-us {
	flex-basis: 60%
}

@media only screen and (max-width:56.25em) {
	.footer .top .about-us {
		flex-basis: 100%
	}
}

@media only screen and (max-width:56.25em) {
	.footer .top .contact-us {
		flex-basis: 100%;
		padding: 0
	}
}

.footer .top .social {
	list-style-type: none;
	display: flex;
	gap: 2rem;
	justify-content: space-between;
	flex-wrap: wrap
}

.footer .top .social a:link,
.footer .top .social a:visited {
	color: #fff;
	text-decoration: none;
	font-weight: 300;
	transition: all .4s
}

.footer .top .social a:hover {
	text-decoration: underline
}

.footer .bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 2rem;
	flex-wrap: wrap
}

@media only screen and (min-width:112.5em) {
	.footer .bottom {
		justify-content: space-around
	}
}

@media only screen and (max-width:75em) {
	.footer .bottom {
		justify-content: space-between
	}
}

@media only screen and (max-width:37.5em) {
	.footer .bottom {
		justify-content: center;
		gap: 2rem
	}
}

.footer .bottom .dev-note {
	color: #fff;
	font-weight: 300;
	font-size: 1.4rem
}

.pricing {
	background-color: #eff1f3;
	padding: 8rem;
	padding-bottom: 16rem;
}

@media only screen and (max-width:37.5em) {
	.pricing {
		margin-top: -8rem;
		padding: 4rem
	}
}

.pricing__card-box {
	margin-top: 8rem;
	display: flex;
	gap: 2rem;
	align-items: center;
	justify-content: center
}

@media only screen and (max-width:75em) {
	.pricing__card-box {
		flex-wrap: wrap;
		gap: 4rem
	}
}

.pricing__card {
	padding: 8rem 2rem;
	border-radius: 8px;
	box-shadow: 0 1rem 4rem rgba(52, 58, 64, .2)
}

.pricing__card--white {
	background-color: #fff
}

.pricing__card--white strong {
	color: #171940
}

.pricing__card--blue {
	background-color: #171940;
	color: #fff;
	position: relative;
	overflow: hidden
}

.pricing__card--blue strong {
	color: #fff
}

.pricing__card--blue .popular {
	padding: 1rem 8rem;
	display: block;
	text-transform: uppercase;
	background-color: #a33188;
	font-weight: 600;
	transform: rotate(45deg);
	top: 32px;
	right: -20%;
	position: absolute
}

@media only screen and (max-width:75em) {
	.pricing__card--blue .popular {
		right: -10%
	}
}

@media only screen and (max-width:37.5em) {
	.pricing__card--blue .popular {
		right: -14%
	}
}

.pricing__card-list {
	list-style-type: none
}

.pricing__card-item {
	padding: 1rem 0
}

.pricing__card-item:not(:last-child) {
	border-bottom: 1px solid rgba(52, 58, 64, .2)
}

.pricing__card-item--white:not(:last-child) {
	border-bottom: 1px solid rgba(255, 255, 255, .5)
}